
<button type="button" (click)="getProgrammazione()">
    Programmazione
  </button>
  
  <button type="button" (click)="getStorico()">
    Storico
  </button>
  
  <div class="search">
    <label for="dataInizio">Data inizio</label>
    <input type="text" [(ngModel)]="dataInizio" id="dataInizio"> 
    <label for="dataFine">Data fine</label>
    <input type="text" [(ngModel)]="dataFine" id="dataFine">
    <button type="button" (click)="search(dataInizio, dataFine)">
      Search
    </button>
  
  </div>
  
  <ul class="programmazione">
    <li *ngFor="let proiezione of programmazione">
      <span class="badge">{{ proiezione.id || -1 }}</span>
      <span class="name">{{proiezione.film.titolo}}, {{proiezione.data|date}}, sala {{proiezione.sala}}</span>   
    </li>
  </ul>
  
