
<h3>Chiamata API</h3>

<span *ngIf="configTicketAlfresco">
    <p>id: "{{configTicketAlfresco.entry.id}}"</p>
    <p>userId: "{{configTicketAlfresco.entry.userId}}"</p>
    <div *ngIf="headers">
      Response:
      <ul>
        <li *ngFor="let header of headers">{{header}}</li>
      </ul>
    </div>
  </span>

  <div>
    <button type="button" (click)="showDemo()">Demo</button>
    <button type="button" (click)="showProgrammazione()">Programmazione</button>
    <button type="button" (click)="showStorico()">Storico</button>
  </div>
  
  <hr>

  <div>
    
  <span *ngIf="config">
    <p>{{config.textfile}}</p>  
  </span>

  <span *ngIf="configAny">
    <p>configAny: "{{configAny}}"</p>    
  </span>

</div>
<p *ngIf="error" class="error">{{error | json}}</p>

